<main>
    <div class="container-xl px-4 mt-n10">
        <div class="card mb-4">
            <div class="card-header">Edit Subcategory</div>
            <div *ngIf="subcategory" class="card-body">
                <form (ngSubmit)="saveSubcategory()">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" [(ngModel)]="subcategory.title" name="title"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>
                    <select class="form-control" id="category" [(ngModel)]="subcategory.category" name="category" required>
                        <option *ngFor="let category of categories" [value]="category._id">{{ category.title }}</option>
                    </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" [(ngModel)]="subcategory.description"
                            name="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a [routerLink]="['/products/subcategories/list']" class="btn btn-secondary">Back</a>
                </form>
            </div>
        </div>
    </div>
</main>