th {
    position: relative;
    white-space: nowrap;
    padding-right: 30px;
    /* Aumentar el espacio adicional para los iconos */
}

th::after {
    content: ' ▲▼';
    color: lightgray;
    font-size: 0.8em;
    position: absolute;
    right: 5px;
    /* Espacio entre el icono y la línea de división */
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    /* Espacio entre el texto y los iconos */
}

th.sorted-asc::after {
    content: ' ▲';
    color: black;
}

th.sorted-desc::after {
    content: ' ▼';
    color: black;
}

th.no-sort::after {
    content: '';
}

.img-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.img-thumbnail {
    width: 50px;
    /* Ajusta el tamaño según tus necesidades */
    height: 50px;
    object-fit: cover;
    /* Asegura que la imagen se ajuste sin distorsionarse */
}