<li class="nav-item dropdown no-caret d-none d-sm-block me-3 dropdown-notifications">
    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownAlerts" href="javascript:void(0);"
        role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Notifications">
        <i data-feather="bell"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end border-0 shadow animated--fade-in-up"
        aria-labelledby="navbarDropdownAlerts">
        <h6 class="dropdown-header dropdown-notifications-header">
            <i class="me-2" data-feather="bell"></i>
            Alerts Center
        </h6>

        <ng-container *ngIf="alerts.length > 0; else noAlerts">
            <a *ngFor="let alert of alerts" class="dropdown-item dropdown-notifications-item" href="#!"
                (click)="markAsSeen(alert._id)">
                <div class="dropdown-notifications-item-icon" [ngClass]="{
                        'bg-info': alert.type === 'info',
                        'bg-warning': alert.type === 'warning',
                        'bg-danger': alert.type === 'danger',
                        'bg-success': alert.type === 'success'
                    }">
                    <i [ngClass]="getIconClass(alert.type)"></i>
                </div>
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-details">{{ alert.timestamp | date:'medium' }}</div>
                    <div class="dropdown-notifications-item-content-text">{{ alert.message }}</div>
                </div>
                <div *ngIf="!alert.isSeen" class="mark-seen">Mark as seen</div>
            </a>
        </ng-container>

        <ng-template #noAlerts>
            <div class="dropdown-item dropdown-notifications-item">
                <div class="dropdown-notifications-item-content">
                    <div class="dropdown-notifications-item-content-text">No alerts available</div>
                </div>
            </div>
        </ng-template>

        <a class="dropdown-item dropdown-notifications-footer" href="#!">View All Alerts</a>
    </div>
</li>
